.containerPage {
    margin-right: auto;
    margin-left: auto;
    padding-top: 80px;
    padding-right: 24px;
    padding-left: 24px;
    max-width: 1600px;
}

.containerOverview {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.containerTitle {
    font-size: 40px;
    font-weight: 600;
}

.breadcrumb {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0 0 20px 0;

    a {
        cursor: pointer;
    }
}