.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 6.25rem;
    background: blue;
    z-index: 99999;

    @media only screen and (max-width: 991px) {
        background: red;
    }
}

.navbarItem {
    color: var(--color-dark-gray);
    display: flex;
    line-height: 1.5;
    height: 100px;
    padding: 0.5rem 0.75rem;
    position: relative;
    align-items: center;
    justify-content: center;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburgerMenu {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100px;

    @media only screen and (max-width: 991px) {
        display: flex;
    }

    .hamburger {
        display: flex;
        margin-left: 10px;
        width: 36px;
        height: 36px;
        background: orange;
        position: relative;
        transition: all .5s ease-in-out;
        border: none;
    
        span {
            display: block;
            position: absolute;
            width: 36px;
            height: 4px;
            top: 16px;
            background: var(--color-dark-gray);
            opacity: 1;
            transition: all .25s ease-out;
            border-radius: 100px;
        }
    
        &::before {
            display: block;
            position: absolute;
            width: 36px;
            height: 4px;
            top: 6px;
            content: '';
            opacity: 1;
            background: var(--color-dark-gray);
            transition: all .25s ease-out;
            border-radius: 100px;
        }
    
        &::after {
            display: block;
            position: absolute;
            width: 36px;
            height: 4px;
            top: 26px;
            content: '';
            opacity: 1;
            background: var(--color-dark-gray);
            transition: all .25s ease-out;
            border-radius: 100px;
        }
    
        &.expanded {
            span {
                opacity: 0;
            }
    
            &::after {
                top: 16px;
                transform: rotate(-45deg);
            }
    
            &::before {
                top: 16px;
                transform: rotate(45deg);
            }
        }
    }
}


.navigation {

}