.quickQuoteSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--color-white);
    padding: 32px 148px;
    gap: 30px;

    h2 {
        width: 100%;
        font-size: 36px;
        font-weight: 800;
        text-align: center;
    }

    .quoteOptions {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        text-align: center;

        .quoteOption {
            display: flex;
            flex-direction: column;
            padding: 0 40px;

            img {
                height: 100px;
            }

            h3 {
                margin-bottom: 20px;
            }
        }

        .button {
            display: flex;
            margin: 40px 0;
            border: 0;
            border-radius: 100px;
            padding: 8px 15px;
            font-size: 26px;
            background: var(--color-yellow);
            color: var(--color-dark-gray);
            font-weight: 800;
            text-decoration: none;
            align-items: center;
            justify-content: center;
    
            &.block {
                width: 100%;
            }
        }
    }

    @media only screen and (max-width: 991px) {
        padding: 38px 20px;
    }

    @media only screen and (max-width: 767px) {
        .quoteOptions {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}