:root {
  --color-white: rgba(255, 255, 255, 1);
  --color-light-gray: rgb(245, 245, 245, 1);
  --color-yellow: rgba(250, 184, 0, 1);
  --color-dark-gray: rgba(15, 22, 33, 1);
  --color-purple: rgba(87, 76, 250, 1);
  --color-blue: rgba(30, 55, 120, 1);
  --color-green: rgba(0, 140, 0, 1);

  --screen-sm: 991px;
  --screen-md: 48rem;
  --screen-lg: 75rem;

  --global-navigation-height: 100px;
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
